.jumbotron{
    background-color: $green;
    color: white;
    margin-top: 50px;
}

footer{
    padding:10px 10px 0 10px ;
    background-color:$green;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;

}


.footer-address-icon{
    padding-right: 10px;
}

a:link {
    color:$green;
  }
  
 
  a:visited {
    color:silver;
  }
  

  a:hover {
    color:silver;
  }

  .img-prin{
      width: 100%;
      height: 80%;
  }
  
 .titulo{
     margin-top: 25px;
     margin-bottom: 15px;
 }
