$green: #28a745;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color: $green;
    color: white;
    @include margenes(50px, 0px )
}

footer {
    padding:10px 10px 0 10px ;
    background-color:$green;
    @include margenes(10px, 0px )
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}


.footer-address-icon {
    padding-right: 10px;
}

a:link {
    color:$green;
  }
  
 
  a:visited {
    color:silver;
  }
  

  a:hover {
    color:silver;
  }

  .img-prin {
      width: 100%;
      height: 80%;
  }
  
 .titulo {
    @include margenes(25px, 15px )
 }
