.jumbotron {
  background-color: #28a745;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px ;
  background-color: #28a745;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
a:link {
  color: #28a745;
}
a:visited {
  color: silver;
}
a:hover {
  color: silver;
}
.img-prin {
  width: 100%;
  height: 80%;
}
.titulo {
  margin-top: 25px;
  margin-bottom: 15px;
}
